@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap");

html,
body {
  background-color: transparent !important;
  font-family: var(--font-rubik);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-jura);
}

.mentor-card {
  position: relative;
  box-shadow: 12px 12px 0px 0px #000000;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.mentor-card:hover {
  box-shadow: 6px 6px 0px 0px #000000;
  transform: translate(-2px, -2px);
}
